
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h2 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 2em;
}


section {
    margin-bottom: 2em;
    padding: 1em;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h4 {
    color: #4CAF50;
    margin-bottom: 1em;
}


pre {
    background: #272822;
    color: #f8f8f2;
    padding: 1em;
    border-radius: 8px;
    overflow-x: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}


strong {
    color: #4CAF50;
}


@media (max-width: 768px) {
    main {
        padding: 1em;
    }

    header h2 {
        font-size: 1.5em;
    }

    section {
        padding: 0.5em;
    }
}
img {
    height: 500px;
    width: 700px;

}