
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 1.5rem;
}

h2, h4{
    color: #333;
}

ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}


