* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    background: #007BFF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
}

h2{
    margin: 0;
    font-size: 2rem;
    color: #010101;
}

main {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

section {
    margin-bottom: 20px;
}

.example pre {
    background: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: 'Times New Roman', Times, serif;
}

h4{
    color: #010101;
}

