body {
    font-family: 'Times New Roman', Times, serif;

    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2,h4{
    color: #333;
}

ol {
    margin-left: 20px;
}

pre {
    background-color: #f4f4f4;
    padding: 15px;
    border-left: 3px solid #4CAF50;
    overflow-x: auto;
}
