body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    background-color: #fafafa;
    color: #333;
}

 h2, h3 {
    color: #333;
}
h1{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
}

header {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 2em 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
img{
    height: 500px;
    width: 700px;
}

nav {
    background-color: #009688;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 7.5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ffeb3b; /* Yellow on hover */
}


main {
    padding: 30px;
    max-width: 1000px;
    margin: 30px auto;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}


section {
    margin-bottom: 30px;
}

section h4 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #00796b;
    text-transform: uppercase;
    font-weight: bold;
}

ul {
    margin-left: 20px;
    font-size: 1.1em;
}

li {
    margin-bottom: 10px;
    line-height: 1.6;
}

ul li::before {
    content: "🔹"; 
    margin-right: 10px;
}

pre {
    background-color: #00796b;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: auto;
    font-size: 1.1em;
    color: white;
}


footer {
    text-align: center;
    padding: 15px 0;
    background-color: #00796b;
    color: white;
    margin-top: 30px;
    font-size: 1em;
    border-top: 3px solid #004d40;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    header {
        padding: 1.5em 0;
    }

    nav ul {
        padding: 10px 0;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 20px;
        margin: 20px;
    }

    footer {
        padding: 10px;
    }
}
b{
    color: #000;
}