body {
    font-family: 'Times New Roman', Times, serif
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #fffbfb;
}
h4{
    color: black;
}
p {
    margin-bottom: 1rem;
}

pre {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    border: 1px solid #ddd;
}

code {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: #ddd;
    color: #555;
    border-radius: 8px;
    font-style: italic;
}
img{
    height: 500px;
    width: 700px;
}
